<div class="snake-container" [style.width.px]="game.boardWidth" [style.height.px]="game.boardHeight">
  <app-snake [posX]="snake.positionX" [posY]="snake.positionY"></app-snake>
  <div class="snake-container-footer ui grid">
    <div class="points-counter eight wide column">
      <h2>{{'Points: ' +  game.points }}</h2>
    </div>
    <div class="start-button eight wide column right aligned">
      <button class="ui button teal big" (click)="startGame()">Start</button>
      <button class="ui button red big" (click)="stopGame()">Stop</button>
    </div>
  </div>
</div>
